.marquee-container {
  width: 100%;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
}

.marquee-track {
  display: flex;
  gap: 80px;
  white-space: nowrap;
  will-change: transform;
}

.marquee-item {
  font-size: 32px;
  font-weight: 700;
  color: #747474;
 
}

@media screen and (max-width:900px) {
  .marquee-container{
    padding: 20px 0 0 0;
  }
  .marquee-item{
    font-size: 26px;
  }
}

@media screen and (max-width:768px) {

  .marquee-item{
    font-size: 20px;
  }
}
